{% load staticfiles %}
<DOCTYPE! HTML>
<html>

<head>
<link rel="stylesheet" href="//maxcdn.bootsstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css/">
<link rel="stylesheet" href="//maxcdn.bootsstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css/">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<title>Greatness From Small Beginnings</title>
</head>

    <body>
        <div class="page-header">
            <h1 class="page-title"><a href="/">My First Blog</a></h1>
        <br>    
    </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
       
    <footer>2018&copy;&nbsp;Luc&nbsp;Mooijer</footer>
    </body>

</html>

</DOCTYPE>